.welcome__text {
  margin-right: 525px;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
}
body {
  background-color: antiquewhite;
  height: 100%;
}
.page-container {
  position: relative;
  min-height: 77vh;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
img {
  position: absolute;
  right: 20px;
  height: 300px;
}
